Day-1 Topics :

-->strings and string methods, booleans, and operators

-->list, tuples, sets and dictionaries

-->conditional Statements

-->Match Case

--> Strings and String Methods

* A string is a sequence of characters inside quotes. Example: "hello".

* String methods are functions used to perform actions on strings like converting to lowercase (lower()), removing spaces (strip()), replacing characters (replace()), etc.

In [9]:
#String
string = "I am a string"
print(string)

#String Concatenation
first_name = "Rahul"
last_name = "Dravid"
full_name = first_name + " " + last_name
print(full_name)

#String Methods - upper()
text = "Rahul Dravid"
result=text.upper()
print(result)

#lower()
text = "Rahul Dravid"
print(text.lower())

#replace()
sentence = "I am Rahul"
print(sentence.replace("Rahul", "Rahul Dravid"))

#split()
data = "Rahul,Dravid,Palani"
fruits = data.split(",")
print(fruits)

#capitalize()
text = "Rahul Dravid"
print(text.capitalize())
[]
#title()
text = "welcome to my world"
print(text.title())

#strip()
text = "   Rahul Dravid   "
print(text.strip())

#find()
text = "Rahul Swamy Siva Govind"
print(text.find("Swamy"))

#count()
text = "apple apple banana"
print(text.count("apple"))

#startswith() and endswith()
text = "hello world"
print(text.startswith("hello"))
print(text.endswith("world"))

#join()
words = ['Rahul', 'is', 'Cool Guy']
sentence = " ".join(words)
print(sentence)

I am a string
Rahul Dravid
RAHUL DRAVID
rahul dravid
I am Rahul Dravid
['Rahul', 'Dravid', 'Palani']
Rahul dravid
Welcome To My World
Rahul Dravid
6
2
True
True
Rahul is Cool Guy

Operators :

--> Symbols used to perform operations.

* Arithmetic Operators: +, -, *, /, //, %, **

* Comparison Operators: ==, !=, >, <, >=, <=

* Logical Operators: and, or, not

* Assignment Operators: =, +=, -=, etc.

Arithmetic Operators

In [10]:
a = 4
b = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

6
2
8
2.0
0
16
2

Comparison or Relational Operators

In [11]:
x = 5
y = 8

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

Assignment Operators

In [12]:
x = 5

x += 2
print(x)

x -= 1
print(x)

x *= 3
print(x)

x /= 2
print(x)

x %= 4
print(x)

x //= 2
print(x)

x **= 3
print(x)

7
6
18
9.0
1.0
0.0
0.0

Logical Operators

In [13]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

Bitwise Operators

In [14]:
x = 5
y = 3

print(x & y)
print(x | y)
print(x ^ y)
print(~x)
print(x << 1)
print(x >> 1)

1
7
6
-6
10
2

Identity Operators

In [15]:
a = [1, 2]
b = a
c = [1, 2]

print(a is b)
print(a is c)
print(a is not c)

True
False
True

Membership Operators

In [16]:
names = ["Rahul", "Swamy", "Siva", "Govind"]

print("Rahul" in names)
print("Siva" not in names)

True
False

Booleans:

* It is a data type that has only two values: True or False.

In [17]:
is_active = True
is_logged_in = False

print(is_active)
print(is_logged_in)

True
False

Lists – Ordered, mutable, allows duplicates

* A collection of items in a particular order. It is changeable and uses square brackets.

* Example: [1, 2, 3]

In [18]:
fruits = ["apple", "banana", "cherry"]

print(fruits[0])

fruits[1] = "orange"
print(fruits)

fruits.append("grape")
print(fruits)

fruits.insert(1, "kiwi")
print(fruits)

fruits.remove("apple")
print(fruits)

last = fruits.pop()
print(fruits)

print(fruits[1:3])

apple
['apple', 'orange', 'cherry']
['apple', 'orange', 'cherry', 'grape']
['apple', 'kiwi', 'orange', 'cherry', 'grape']
['kiwi', 'orange', 'cherry', 'grape']
['kiwi', 'orange', 'cherry']
['orange', 'cherry']

Common List Methods

In [19]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

fruits.append("mango")
print(fruits)

fruits.insert(1, "kiwi")
print(fruits)

fruits.remove("banana")
print(fruits)

fruits.pop()
print(fruits)

fruits.sort()
print(fruits)

fruits.reverse()
print(fruits)

fruits.clear()
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango']
['apple', 'kiwi', 'banana', 'cherry', 'mango']
['apple', 'kiwi', 'cherry', 'mango']
['apple', 'kiwi', 'cherry']
['apple', 'cherry', 'kiwi']
['kiwi', 'cherry', 'apple']
[]

Tuples – Ordered, immutable, allows duplicates

* A collection like a list but not changeable (immutable). Uses round brackets.
* Example: (1, 2, 3)

In [20]:
colors = ("red", "green", "blue")

print(colors[0])

print(colors.count("red"))

print(colors.index("green"))

r, g, b = colors
print(r, g, b)

nested = ((1, 2), (3, 4))
print(nested[0][1])

name = ("hello",)
print(type(name))

red
1
1
red green blue
2
<class 'tuple'>

Common Tuple Methods

In [21]:
colors = ("red", "green", "blue")
n=colors.count("green")
print(n)
n=colors.index("blue")
print(n)

1
2

Sets – Unordered, mutable, no duplicates

* A collection of unique and unordered items. Uses curly brackets.

* Example: {1, 2, 3}

In [22]:
numbers = {1, 2, 3, 4}

numbers.add(5)
print(numbers)

numbers.remove(2)
print(numbers)

# union
a = {1, 2}
b = {2, 3}
print(a.union(b))

# intersection
print(a.intersection(b))

# difference
print(a.difference(b))

{1, 2, 3, 4, 5}
{1, 3, 4, 5}
{1, 2, 3}
{2}
{1}

Common Set Methods

In [23]:
s = {1, 2, 3}

s.add(4)
print(s)

s.remove(2)
print(s)

s.discard(10)
print(s)

s.pop()
print(s)

s.clear()
print(s)

{1, 2, 3, 4}
{1, 3, 4}
{1, 3, 4}
{3, 4}
set()

Dictionaries – Key-value pairs, unordered

* A collection of key-value pairs.
* Example: {"name": "Rahul", "age": 20}

In [24]:
student = {"name": "Rahul", "age": 21, "course": "MERN"}

# Access value by key
print(student["name"])

# Add new key-value pair
student["grade"] = "A"

# Update existing value
student["age"] = 22

# Remove key
student.pop("course")

#LOOP
for key, value in student.items():
    print(key, value)

# Check if key exists
print("name" in student)

# Get value with default
print(student.get("marks", 0))

Rahul
name Rahul
age 22
grade A
True
0

Common Dictionary Methods

In [25]:
student = {"name": "Rahul", "age": 21}

student.get("age")
print(student)

student.keys()
print(student)

student.values()
print(student)

student.items()
print(student)

student.update({"age": 21})
print(student)

student.pop("name")
print(student)

student.clear()
print(student)

{'name': 'Rahul', 'age': 21}
{'name': 'Rahul', 'age': 21}
{'name': 'Rahul', 'age': 21}
{'name': 'Rahul', 'age': 21}
{'name': 'Rahul', 'age': 21}
{'age': 21}
{}

Conditional Statement:

* Used to make decisions in a program using if, elif, and else.
* They check a condition and run code only if it's true.

if Statement

In [26]:
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

if-else Statement

In [27]:
age = 16
if age >= 18:
    print("You can vote")
else:
    print("You cannot vote")

You cannot vote

if-elif-else Statement

In [28]:
score = 85
if score >= 90:
    print("Grade A")
elif score >= 75:
    print("Grade B")
elif score >= 60:
    print("Grade C")
else:
    print("Grade D")

Grade B

Nested if Statement

In [29]:
num = 10
if num > 0:
    if num % 2 == 0:
        print("Positive even number")
    else:
        print("Positive odd number")
else:
    print("Not a positive number")

Positive even number

Match Case - multiple if-elif-else conditions

* An alternative to multiple if-else conditions.
* It checks the value of a variable and runs the matching case (like switch-case in other languages).

In [30]:
day = 4
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case 7:
        print("Sunday")
    case _:
        print("Invalid day")

Thursday